<div class ="container" style = "width:80%" >
  <div class = "row " id = "first">
    <div class = "col-md-3 about">
      <h3>Parcours scolaire</h3>
        <div class = "row">
          <div class = "col-md-6">
            <h4> 2016 - 2017 </h4>
            <p>
              1ère année de BTS SIO (Service informatique aux
              organisations) à HITEMA (92130)
            </p>
          </div>
          <div class = "col-md-6 ">
            <h4>2015 - 2016 </h4>
            <p>
               Baccalauréat ES (École auprès de l'ambassade de Russie
              en France) à Paris (75016)
            </p>
          </div>
        </div>
    </div>
    <div class = "col-md-1">
    </div>
    <div class = "col-md-4" style = "margin-top:1%">
      <%= image_tag('me.jpg', class: "photo") %>
    </div>
    <div class = "col-md-1">
    </div>
    <div class = "col-md-3 col-sm-2 about">
      <div class = "row">
        <div class = "col-md-12">
          <h3>Compétences</h3>
        </div>
        <div class = "col-md-12">
          <h4>Langage de programmation</h4>
          <a>  <%= image_tag('html.png', class: "photoLogo") %></a>
          <a>  <%= image_tag('css.png', class: "photoLogo") %></a>
          <a>  <%= image_tag('ruby.png', class: "photoLogo") %></a>
          <a>  <%= image_tag('js.png', class: "photoLogo") %></a>
          <a>  <%= image_tag('php.png', class: "photoLogo") %></a>
          <a>  <%= image_tag('java.png', class: "photoLogo") %></a>
      </div>
          <div class = "col-md-12">
            <h4>Framework</h4>
            <a>  <%= image_tag('bootstrap.png', class: "photoLogo") %></a>
            <a>  <%= image_tag('rails.png', class: "photoLogo") %></a>
            <a>  <%= image_tag('jquery.png', class: "photoLogo") %></a>
          </div>
          <div class = "col-md-12">
            <h4>MySQL</h4>
            <a>  <%= image_tag('mysql.png', class: "photoLogo") %></a>
            <a>  <%= image_tag('access.png', class: "photoLogo") %></a>
          </div>
      </div>
    </div>
  </div>

  <div class = "row " id ="second">
    <div class = "col-md-3 about">
      <h3>Stages & Formations</h3>
        <div class = "row">
          <div class = "col-md-6">
            <p>
              6 juin - 7 juillet 2017 : Développement d'un site web avec responsive design
            </p>
          </div>
          <div class = "col-md-6">
            <p>
              7 juillet - 16 septembre 2017: Formation ‘The Hacking Project’
            </p>
          </div>
        </div>
      </div>
      <div class = "col-md-1">
      </div>
      <div class = "col-md-4">
        <h3>Qui suis-je?</h3>
        <p>
          Prochainement en deuxième année de BTS Services Informatique aux
          Organisations à HITEMA je suis passionné d’informatique, ayant une fibre
          artistique et le sens du contact. J’ai choisi ce métier parce que j’ai
          toujours été attiré par les innovations technologiques.
        </p>
      </div>
      <div class = "col-md-1">
      </div>
      <div class = "col-md-3 about">
      <h3>Centre d'interets</h3>
    </div>
  </div>
</div>
