<!DOCTYPE html>
<html>
  <head>
    <title>VASYUK MIKHAIL</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class ="container" style ="padding-top: 1rem;" >
      <%= yield %>
    </div>
  </body>
</html>
